<h1 mat-dialog-title> {{!this.data ? 'Yeni Toplantı Oluştur': 'Toplantı Detayları'}}</h1>

 <mat-spinner *ngIf="this.showSpinner" style="margin:auto"></mat-spinner>

<form [formGroup]="this.meetForm">

  <div *ngIf="!this.showSpinner" mat-dialog-content>
      <p>Tüm alanları doldurunuz</p>
     
      <mat-form-field ngClass="fullwidth">
        <input placeholder="Konu" formControlName="subject" matInput >
      </mat-form-field>
      <br/>
      <mat-form-field ngClass="fullwidth" appearance="fill">
        <mat-label>Toplantı Tarihi</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br/>
      <mat-form-field ngClass="fullwidth">
        <input placeholder="Başlangıç Saati" type="time" formControlName="start_time" matInput >
      </mat-form-field>
      <mat-form-field ngClass="fullwidth">
        <input type="time"  placeholder="Bitiş Saati" formControlName="end_time" matInput >
      </mat-form-field>

      
      <mat-form-field class="fullwidth">
        <mat-label>Katılımcılar</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let att of attendances" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(att)">
            {{att.fullname}}
            
            <mat-icon matChipRemove  aria-hidden="false" *ngIf="removable" aria-label="filter icon">cancel</mat-icon>
          </mat-chip>
          <input formControlName="Attendances" class="fullwidth" placeholder="Yeni katılımcı..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button style="margin:5px" mat-raised-button (click)="onCancelClick()" cdkFocusInitial>İptal</button>
    <button style="margin:5px" mat-raised-button (click)="onDoneClick()">Tamam</button>
    <button  *ngIf="this.data?.id" mat-raised-button color="warn" (click)="onDeleteClick()">Toplantıyı Sil</button>
  </div>

</form>
